{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<form method="post" class="card narrow-left">
  {{ csrf_field() }}
  <label>Current password<input type="password" name="current" required autocomplete="current-password"></label>
  <label>New password (8+ characters)<input type="password" name="new" required autocomplete="new-password"></label>
  <label>Repeat new password<input type="password" name="new2" required autocomplete="new-password"></label>
  <button class="btn">Change password</button>
</form>
{% endblock %}
